



<div *ngFor="let item of Meals; let i = index" >
  <mat-card [ngStyle]="{
    'border-left': item.totalCalorie > 2000
      ? '10px solid red'
      : '10px solid #0eb476'
  }" (click)="goToMealData(i)"  class="ad-card">
    <div class="row">
      
      <span style="margin-left : 1%; font-weight: 500; Color : #3296e2 ">{{item.Date}}</span>
      <span style="font-weight: 500; Color : #3296e2; font-style: italic; float: right; margin-top: 15%; ">{{item.totalCalorie}} Calories</span>
      <img *ngIf="item.totalCalorie > 2000" height="100rem" width="70%" style="margin-top: 1%;" src="assets/hungry.gif" />
      <img *ngIf="!(item.totalCalorie > 2000)" height="100rem" width="70%" style="margin-top: 1%;" src="assets/fit.gif" />
    </div>
      
    
   
   
  </mat-card>
</div>

